# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

___Objectives___
We covered the following concepts:
* listed commonly used Data Science programming languages
* listed Some Data Science Libraries
* list Some Data Science Tools
* perfomed simple arithmetic expressions
* Formatting items in a notebook table or an ordered or unordered list

___Some of the most commonly used programming languages in Data Science are:___
1. Python
2. SQL
3. R

others include:

4. Julia
5. Java
6. Matlab

___*There are Data Science libraries compartibible with Python and R. Some commonly used Data Science libraries are:*___

Python Libraries
1. Pandas
2. Numpy
3. TensorFlow
4. Scikit-learn
5. Matplotlib
6. Seaborn
7. SciPy

R Libraries

1. ggplot2
2. dplyr
3. caret
4. stringr

___Hear are some commonly used Data Science Tools___

|Data Science Tools|
-------------------
|Jupyter Notebook|
|R StudiO|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
a = int(input("Enter number >: "))
b = int(input("Enter secondNumb >: "))
print(f"the sum of these numbers are: {a + b}")

Enter number >:  3
Enter secondNumb >:  4

the sum of these numbers are: 7

### This a simple arithmetic expression to mutiply then add integers.

In [2]:
result = 6 * 56 + 3 - 6
result

333

 ### This will convert 200 minutes to hours by diving by 60

In [3]:
mins = 200
print(f"200 minutes is equivalent to: {mins//60} hours")

200 minutes is equivalent to: 3 hours

## Author
Sone Eric Ebombe